@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Mulish:wght@400;700;800&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

.container {
    margin: 0 auto;
    width: 81.25%;
    max-width: 1170px;
}

.text-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.text-primary {
    color: rgba(19, 19, 24, 0.70);
    line-height: 1.625rem;
}

.text-secondary {
    color: #5A5A5D;
    line-height: 1.625rem;
}

.color-theme {
    color: #FF5400
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 800;
    width: 100%;
    border: none;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
}

/* header section styles */
.header-main {
    margin-top: 52px;
}

/* navbar section styles */
.header-main .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-logo-main .nav-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-logo>h2 {
    font-size: 36px;
}

.navbar .nav-items>ul {
    display: flex;
    gap: 44px;
}

.navbar .nav-items>ul>li {
    list-style: none;
}

.navbar .nav-items>ul>li>a {
    text-decoration: none;
}

.navbar .nav-items .nav-items-name {
    color: #424247;
    font-size: 18px;
}

.navbar .bars-icon {
    display: none;
}

/* banner section styles */
.header-main .banner {
    margin-top: 50px;
    padding: 106px 0;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.banner .banner-text {
    color: #FFF;
}

.banner .banner-text>h1 {
    font-size: 4rem;
    font-weight: 800;
}

.banner .banner-text>p {
    margin: 24px auto 48px;
    max-width: 676px;

    font-size: 1rem;
    line-height: 1.625rem;
}

.banner .find-now-main {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    margin: 0 185px;
    padding: 16px;
    gap: 24px;
}

.find-now-main .box {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
}

.box input,
.box select {
    border: none;
    width: 100%;
    color: rgba(19, 19, 24, 0.50);
    font-family: inherit;
    font-size: 1rem;
    outline: none;
}

.box select {
    appearance: none;
}

.find-now-main .when,
.find-now-main .type {
    position: relative;
}

.when img,
.type img {
    position: absolute;
    right: 8%;
}

.find-now-main .find-now {
    padding: 0;
    background: #FF5400;
}

.find-now .btn-find-now {
    display: flex;
    gap: 1.5px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
}

/* popular-tours section styles */
.popular-tours {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.popular-tours .popular-tours-text {
    max-width: 577px;
}

.popular-tours .popular-tours-text>p {
    margin: 24px 0;
}

.popular-tours .popular-tours-text>ul {
    padding-left: 20px;
    max-width: 525px;
}

.popular-tours .popular-tours-text>ul>li {
    margin: 16px 0;
}

.popular-tours .popular-tours-text>button {
    margin-top: 8px;
}

.popular-tours .popular-tours-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* choose-your-destination section styles*/
.choose-your-destination {
    margin-top: 100px;
    text-align: center;
}

.choose-your-destination .choose-your-destination-text {
    max-width: 643px;
    margin: 0 auto;
}

.choose-your-destination-text>p {
    margin: 24px 0 48px;
}

.choose-your-destination .choose-your-destination-gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.choose-your-destination-gallery .grid-items {
    position: relative;
}

.grid-items {
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    border-radius: 16px;
}

.grid-items>p {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 48px);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

.grid-items>img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: fill;
}

.grid-item-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 4;
}

.grid-item-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 4;
}

.grid-item-3 {
    grid-column: 1/span 4;
    grid-row: 5/span 4;
}

.grid-item-4 {
    grid-column: 5/span 5;
    grid-row: 5/span 4;
}

.grid-item-4>p {
    left: calc(50% - 96px);
}

.grid-item-5 {
    grid-column: 10/span 3;
    grid-row: 5/span 4;
}


.grid-item-6 {
    grid-column: 1/span 5;
    grid-row: 9/span 4;
}

.grid-item-6>p {
    left: calc(50% - 72px);
}

.grid-item-7 {
    grid-column: 6/span 7;
    grid-row: 9/span 4;
}

.grid-item-7>p {
    left: calc(50% - 72px);
}

@media screen and (max-width:600px) {
    .text-title {
        font-size: 20px;
    }

    .text-primary,
    .text-secondary {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    .navbar .bars-icon {
        display: block;
    }

    .header-main .navbar {
        justify-content: space-between;
        /* flex-direction: column; */
        /* gap: 50px; */
        /* text-align: center; */
    }

    .navbar .nav-logo-main {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        /* gap: 150px; */
    }

    .navbar .nav-logo-main .nav-logo {
        gap: 10px;
    }

    .nav-logo>h2 {
        font-size: 21.5px;
    }

    .navbar .nav-items {
        display: none;
    }

    .navbar .nav-items>ul {
        flex-direction: column;
        gap: 30px;
    }

    .header-main .banner {
        margin-top: 17px;
        padding: 32px 0;

    }

    .banner .find-now-main {
        flex-direction: column;
    }

    .banner .banner-text>h1 {
        font-size: 22px;
    }

    .banner .banner-text>p {
        margin: 8px auto 32px;
        max-width: 304px;
        font-size: 14px;
        line-height: 21px;
    }

    .when img,
    .type img {
        right: 3%;
    }

    .banner .find-now-main {
        margin: 0 24px;
        gap: 16px;
    }

    .find-now-main .box {
        width: 100%;
    }

    .popular-tours {
        margin-top: 24px;
        flex-direction: column;
        /* margin: 24px 24px; */
        gap: 24px;
    }

    .popular-tours .popular-tours-text>p {
        margin: 16px 0;
    }

    .popular-tours .popular-tours-text>ul>li {
        margin: 12px 0;
    }

    .choose-your-destination {
        margin-top: 24px;
    }

    .choose-your-destination-text>p {
        margin: 16px 0;
    }

    .choose-your-destination .choose-your-destination-gallery {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .grid-items>p {
        font-size: 20px;
        font-weight: 700;
        top: calc(50% - 16px);
        left: calc(50% - 40px);
    }

    .grid-items>img {
        max-height: 176px;
    }

    .grid-item-4>p {
        left: calc(50% - 64px);
    }

    .grid-item-6>p,
    .grid-item-7>p {
        left: calc(50% - 48px);
    }
}

@media screen and (min-width:992px) and (max-width:1320px) {
    .banner .find-now-main {
        width: 75%;
        margin: 0 auto;
        gap: 16px;
        justify-content: center;
    }

    .popular-tours .popular-tours-text {
        max-width: 45%;
    }
}